<h1>Property #<%= @property['public_id'] %></h1>
<h2><%= @property['title'] %></h2>
<p><%= @property['description'] %></p>
<%= render partial: 'property_images_slideshow', locals: {images: @property['property_images']} if @property['property_images'].any?%>
<p><%= @property['property_type'] %></p>
<p><%= @property['location']['name'] %></p>

<hr>
<h3>Contact us</h3>
<%= form_with url: leads_path, method: :post, class: 'mb-3' do |form| %>
    <div class='mb-3'>
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
    <div class='mb-3'>
      <%= form.label :phone, class: 'form-label' %>
      <%= form.telephone_field :phone, class: 'form-control' %>
    </div>
    <div class='mb-3'>
      <%= form.label :email, class: 'form-label' %>
      <%= form.email_field :email, class: 'form-control' %>
    </div>
    <div class='mb-3'>
      <%= form.label :message, class: 'form-label' %>
      <%= form.text_area :message, size: "70x5", class: 'form-control' %>
    </div>
    <div class='mb-3'>
      <%= form.hidden_field :property_id, value: @property['public_id'] %>
      <%= form.hidden_field :source, value: root_url %>
    </div>
  
    <div class="d-grid gap-2">
      <%= form.submit "Send", class: 'btn btn-primary' %>
    </div>
<% end %>
<hr>

<%= link_to 'Go Back', root_path, class: 'btn btn-secondary' %>